.modal-dialog-glass {
	-fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4,
		4);
	-fx-background-color: derive(cadetblue, -20%);
	-fx-background-insets: 12;
	-fx-background-radius: 6;
}

.background {
	-fx-background-color: #ffffff;   
}

.split-pane {
	-fx-background-color: #ffffff;
}

.split-pane:horizontal>.split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane:vertical>.split-pane-divider {
	-fx-background-color: transparent;
}

.common-header {
	-fx-background-color: #ffffff;
}

.common-footer {
	-fx-background-color: #ffffff;
}

.logOutButton {
	-fx-background-image: url(../images/log-out-btn.png);
	-fx-background-size: 30.0px 30.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.logOutButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.loginButton {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 15.0px;
	-fx-font-style: normal;
}

.loginButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.view-result-btn {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 15.0px;
	-fx-font-style: normal;
}

.view-result-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.button-normal {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 15.0px;
	-fx-font-style: normal;
}

.button-normal:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.pageIcon {
	-fx-background-color: #383E4F;
}

.pageIcon:hover {
	-fx-background-color: #E53935;
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.pageIconButton {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/round_arw.png);
	-fx-background-size: 40.0px 40.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.pageIconButton:hover {
	-fx-cursor: hand;
}

.pageLabel {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20.0px;
}

.bottomBox.setStyle {
	-fx-background-color: transparent;
}

.page_heading {
	-fx-font: bold 16.0pt "Bebas Neue Bold";
}

.exam-attended-btn {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/attended.png);
	-fx-background-size: 40.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}


.start-exam-btn {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/start_exam.png);
	-fx-background-size: 40.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.start-exam-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.scheduled-exam-btn {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/scheduled.png);
	-fx-background-size: 40.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}


.exam-not-attended-btn {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/not_attended.png);
	-fx-background-size: 40.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.exam-not-attended-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.upload-pending-btn {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/upload_pending.png);
	-fx-background-size: 40.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.upload-pending-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.exam-list-item {
	-fx-background-color: transparent;
	-fx-border-width: 1.0px;
	-fx-border-color: #E0E0E0;
}

.exam-page {
	-fx-background-color: #ffffff;
}

.examListPane {
	-fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
	-fx-border-width: 3.0;
}

.vBox {
	-fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
	-fx-border-width: 3.0;
}

.instructionListPane {
	-fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
	-fx-border-width: 3.0;
}

.instruction-list-item {
	-fx-background-color: transparent;
}

.notificationListPane {
	-fx-background-color: #ffffff;
	-fx-border-color: #ffffff;
	-fx-border-width: 3.0;
}

.notification-list-item {
	-fx-background-color: transparent;
	-fx-border-width: 1.0px;
	-fx-border-color: #E0E0E0;
}

.gmDialog {
	-fx-background-color: #E0E0E0;
}

.gmDialog>*.button-bar>*.container {
	-fx-background-color: #E0E0E0;
}

.gmDialog>*.label.content {
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
}

.gmDialog:header *.header-panel {
	-fx-background-color: #E0E0E0;
}

.gmDialog:header *.header-panel *.label {
	-fx-font-size: 18.0px;
	-fx-font-style: italic;
	-fx-fill: #EDEDED;
}

.scrollpane {
	-fx-background-color: #ffffff;
}

.viewButton {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 17.0px;
	-fx-font-style: normal;
}

.viewButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.deleteButton {
	-fx-background-color: #383E4F;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 17.0px;
	-fx-font-style: normal;
}

.deleteButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.homeBtn {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 17.0px;
	-fx-font-style: normal;
}

.homeBtn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.questionListBtn {
	-fx-background-color: #383E4F;
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 17.0px;
	-fx-font-style: normal;
}

.questionListBtn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.sectionLbl {
	-fx-font-size: 16.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-family: "Bebas Neue Bold";
}

.questionNumberTxt {
	-fx-font-size: 16.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-family: "Bebas Neue Bold";
}

.questionNumberLabel {
	-fx-font-size: 16.0px;
	-fx-text-fill: white;
	-fx-background-color: #E53935;
	-fx-font-weight: bold;
	-fx-font-family: "Bebas Neue Bold";
}

.examClock {
	-fx-font-size: 16.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-family: "Bebas Neue Bold";
}

.markQuestion {
	-fx-font-weight: bold;
}

.section-btn:hover {
	-fx-cursor: hand;
}

.section-box-name-lbl {
	-fx-font: bold 14.0pt "Bebas Neue Bold";
	-fx-text-fill: white;
}

.section-box-info-lbl {
	-fx-font: bold 12.0pt "Bebas Neue Bold";
	-fx-text-fill: #EDEDED;
}

.section-box-info-box {
	-fx-border-width: 0.0 0.0 0.0 1.0;
	-fx-border-color: white;
}

.section-box-seq-lbl {
	-fx-font: bold 16.0pt "Bebas Neue Bold";
	-fx-text-fill: white;
}

.active-section-box {
	-fx-background-color: linear-gradient(to bottom, #77BC1F, #4A7628);
	-fx-background-radius: 5.0 5.0 5.0 5.0;
	-fx-border-radius: 5.0 5.0 5.0 5.0;
}

.inactive-section-box {
	-fx-background-color: linear-gradient(to bottom, #909C9C, #707C7C);
	-fx-background-radius: 5.0 5.0 5.0 5.0;
	-fx-border-radius: 5.0 5.0 5.0 5.0;
}

.completed-section-box {
	-fx-background-color: linear-gradient(to bottom, #29ABE2, #0071BC);
	-fx-background-radius: 5.0 5.0 5.0 5.0;
	-fx-border-radius: 5.0 5.0 5.0 5.0;
}

.infoBox {
	-fx-background-color: #ffffff;
}

.name {
	-fx-font-size: 18.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.dob {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.email {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.contact {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.address {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.courseDetails {
	-fx-font-size: 17.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-underline-color: #000000;
}

.batch {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.course {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.centre {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: #181E2B;
}

.textDob {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textEmail {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textContact {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textAddress {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textBatch {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textCourse {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.textCentre {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.nameBox {
	-fx-background-color: #E0E0E0;
}

.nameLabel {
	-fx-font-size: 20.0px;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-weight: bold;
}

.durationLbl {
	-fx-font-size: 12.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.sectionLabel {
	-fx-text-fill: white;
	-fx-font-size: 20.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-family: "Bebas Neue Bold";
}

.labelBox {
	-fx-background-color: #383E4F;
}

.sectionName {
	-fx-font-size: 13.0px;
	-fx-font-style: normal;
}

.startButton {
	-fx-background-color: #66BB6A;
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-weight: bold;
}

.startButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.thanksLabel {
	-fx-font-size: 25.0px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.dateLabel {
	-fx-font-size: 18.0px;
	-fx-font-style: normal;
}

.wishLabel {
	-fx-font-size: 16.0px;
	-fx-font-style: normal;
}

.topPane {
	-fx-background-color: #EDEDED;
}

.closeButton {
	-fx-background-color: transparent;
	-fx-background-image: url(../images/close.png);
	-fx-background-size: 50.0px 45.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.closeButton:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
	-fx-cursor: hand;
}

.answer-tab-pane>*.tab-header-area>*.tab-header-background {
	-fx-background-color: -fx-outer-border, -fx-text-box-border, #181E2B;
}

.answer-tab {
	-fx-background-color: #181E2B;
	-fx-text-fill: white;
}

.answer-tab:selected {
	-fx-background-color: white;
}

.answer-tab .tab-label {
	-fx-text-fill: white;
}

.answer-tab:selected .tab-label {
	-fx-text-fill: black;
}

.correct-ans-btn {
	-fx-font: 10.0 arial;
	-fx-background-radius: 6.0em;
	-fx-min-width: 40.0px;
	-fx-min-height: 40.0px;
	-fx-max-width: 40.0px;
	-fx-max-height: 40.0px;
	-fx-background-color: white;
	-fx-border-width: 3.0px;
	-fx-border-color: #66BB6A;
	-fx-border-radius: 6.0em;
}

.correct-ans-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.unattended-ans-btn {
	-fx-font: 10.0 arial;
	-fx-background-radius: 6.0em;
	-fx-min-width: 40.0px;
	-fx-min-height: 40.0px;
	-fx-max-width: 40.0px;
	-fx-max-height: 40.0px;
	-fx-background-color: white;
	-fx-border-width: 3.0px;
	-fx-border-color: #E0E0E0;
	-fx-border-radius: 6.0em;
}

.unattended-ans-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.wrong-ans-btn {
	-fx-font: 10.0 arial;
	-fx-background-radius: 6.0em;
	-fx-min-width: 40.0px;
	-fx-min-height: 40.0px;
	-fx-max-width: 40.0px;
	-fx-max-height: 40.0px;
	-fx-background-color: white;
	-fx-border-width: 3.0px;
	-fx-border-color: #E53935;
	-fx-border-radius: 6.0em;
}

.wrong-ans-btn:hover {
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.examNameLbl {
	-fx-font-weight: bold;
	-fx-font-size: 18.0px;
	-fx-font-family: "Roboto";
}

.resultLbl {
	-fx-font-weight: bold;
	-fx-font-size: 15.0px;
	-fx-font-family: "Roboto";
}

.versionLbl {
	-fx-font-weight: bold;
	-fx-font-size: 12.0px;
	-fx-font-family: "Roboto";
}

.markLbl {
	-fx-background-color: #1e88e5;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15.0px;
	-fx-font-family: "Roboto";
	-fx-background-radius: 3 3 3 3;
	-fx-border-radius: 3 3 3 3;
}

.exapand-info-btn {
	-fx-background-color: transparent;
}

.exapand-info-btn:hover {
	-fx-scale-x: 1.10;
	-fx-scale-y: 1.10;
	-fx-cursor: hand;
}

.noItemsLabel {
	-fx-font-size: 20.0px;
}

.close-btn {
	-fx-background-color: transparent;
}

.close-btn:hover {
	-fx-scale-x: 1.10;
	-fx-scale-y: 1.10;
	-fx-cursor: hand;
}

.solution-pane>.title {
	-fx-background-color: #181E2B;
	-fx-font-family: "Bebas Neue Bold";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.solution-pane>.title>.text {
	-fx-fill: WHITE;
}

.attemptLabel {
	-fx-font-weight: bold;
	-fx-font-size: 12.0px;
	-fx-font-family: "Roboto";
}

.attemptNoLabel {
	-fx-background-color: #E53935;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 12.0px;
	-fx-font-family: "Roboto";
}

.sectionLblBox {
	-fx-background-color: #383e4f;
}

.topPane {
	-fx-background-color: #ededed;
}

.contentPane {
	-fx-background-color: #ffffff;
}

.ansLgd {
	-fx-fill: #87c431;
}

.unansLgd {
	-fx-fill: #ef5050;
}

.markedLgd {
	-fx-fill: #e2bd23;
}
.markedAndAnsweredLgd{
	-fx-fill: #1976D2;
}

.notVisited {
	-fx-fill: #bdbdbd;
}

.questionNavigationBox {
	-fx-background-color: white;
}

.examLabel {
	-fx-font-weight: bold;
	-fx-font-size: 14.0px;
	-fx-font-family: "Roboto";
}

.question-list-btn {
	-fx-background-color: #000000;
	-fx-cursor: hand;
}

.question-list-btn:hover {
	-fx-scale-x: 1.10;
	-fx-scale-y: 1.10;
}

.tooltip {
	-fx-font: normal bold 4 Langdon;
	-fx-base: #AE3522;
	-fx-text-fill: orange;
	-fx-font-size: 13.0px;
}
.userLabel {
	
	-fx-font-size: 15.0px;
	-fx-text-fill: #1976D2;
	-fx-font-family: "Bebas Neue Bold"
}
.userName{
	-fx-font-weight: bold;
	-fx-font-size: 15.0px;
	-fx-font-family: "Bebas Neue Bold"
}